body {
    background-color: rgb(221, 45, 45);
}

a {
    color: rgb(3, 243, 191);
    text-decoration: none;
}

h1 {
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #caec08;
    background-color: rgb(103, 204, 103);
    color: rgb(0, 0, 0);
    font-size: 300%;
    text-align: center;
    line-height: 1;
}

h2 {
    padding: 10px;
    margin-bottom: 30px;
    border: 2px dotted #f0f0f0;
    border-left: 10px solid #f0f0f0;
    color: rgb(9, 77, 133);
}

#contents {
    width: 798x;
    margin: 40px auto;
    margin: 40px;
    padding: 40px 80px;
    border: 1px solid #a77c64;
    background-color: #a59e79;
}

.more {
    text-align: right;
}

.h {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #cf1919;
    border-left: 10px solid #ffffff;
    color: rgb(8, 230, 230);
}

.h-sud span {
    font-weight: normal;
}

section+section {
    margin-top: 80px;
}

#contents>section+section {
    margin-top: 80px;
}

header,nav,footer {
    text-align: center;
}

a {
    color: #0ae6c8;
}

a :hover {
    color: #082aec;
    text-decoration: none;
}

.more {
    text-align: right;
}

.more::after {
    content: url(img/ico_arrow.png);
    margin-left: 3px;
    vertical-align: middle;
}

a[target="_blank"]::after {
    content: url(img/ico_blank.png);
    margin-left: 5px;
    vertical-align: middle;
}

a [href^="mailto:"]::after {
    content: url(img/ico_mail.png);
    margin-left: 5px;
    vertical-align: middle;
}

body {
    background-color: #c55a1c;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 50px 70px;

}

body {
    background: #ec5c0862 url(img/bg.png)repeat-x;
}

h1 {
    border-radius: 50%;
    text-shadow: 1px 1px 2px #307657;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0, 5);
    background-image: linear-gradient(to bottom, #6fbb9a, #4a9d79);
    font-family: 'Limelight', cursive;
}

.h {
    border-radius: 5px 0 0 5px;
}

.h-sud {
    padding: 10px;
    background-color: #ec5c08;
    color: #307657;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #addaff inset;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    width: 180px;
    border: 1px solid#f00;
     margin: 0 10px;
   
}

.menu a {
    display: block;
    padding: 10px;
    background: #d44f02;
    border-radius: 8px;
    color: #f00;
    text-decoration: none;
}
.menu a:hover{
    background: #ec7e42;
}

.menu a {
    background: rgb(4, 250, 135);
    color: #ffffff;
}

.menu a:hover {
    background: #ec5c08;
}



.imgL {
    float: left;
    margin-right: 20px;
}

.imgR {
    float: right;
    margin-right: 20px;
}
.clear{
    clear: both;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}