.hr{
    box-shadow: 1px 2px 2px 2px lavenderblush(180, 180, 180);
}

.carousel-inrer img{
    border-radius: 20px;
}


#carouselExampleCaptions{
    margin-top: 100px;
}

#products{
    margin-top: 100px;
}

#products .btn{
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid rgb(30, 30, 131);
    border-radius: 50px;
}

#products h5{
    font-size: 2em;
    font-weight: bold;
}